.App {
  font-family: sans-serif;
  text-align: center;
}

body,
* {
  color: #606371;
  box-sizing: border-box;
}

.card {
  width: 400px;
  margin: 0 auto;
  padding: 50px;
  background: #ffffff;
  border-radius: 3px;
  -webkit-box-shadow: 4px 2px 25px -4px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 2px 25px -4px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 2px 25px -4px rgba(0, 0, 0, 0.75);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task {
  margin: 25px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.complete-task {
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid #edeff4;
}
